.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 744px;
  height: 644px;
  margin: auto;
}
.carousel .slide .legend {
  font-size: 20px;
  opacity: 0.5;
}
.carousel.carousel-slider .control-arrow {
  width: 5rem;
  opacity: 0.9;
}
.carousel-img {
  border: 2px solid wheat;

}

.legend {
  font-size: 18px !important;
  font-weight: 400;
  letter-spacing: 0.20rem;
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1199px) {
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 400px;
    margin: auto;
  }
  .legend {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 429px) {
  .carousel-img p {
    letter-spacing: 0.1rem;
    font-size: 14px;
  }
  .carousel .slide .legend {
    bottom: 0;
  }
}

@media screen and (max-width: 361px) {
  
}