.contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}
.contact-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 60vw;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0% 100%, 0 54%, 0% 0%);
  padding: 1rem;
}
.contact-left p {
  position: relative;
  right: 5%;
  max-width: 70%;
}
.contact-left h3 {
  margin-top: 5rem;
  position: relative;
  bottom: 8%;
  right: 10%;
  font-size: 40px;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 1rem;
}
.contact-right h3 {
  position: relative;
  text-decoration: underline;
}

.contact-info {
  text-align: center;
  width: 100%;
}
.contact-info p {
  margin: 3rem 0;
}
.contact-icon {
  width: 30px;
  height: 30px;
  background-color: wheat;
  margin: 10px;
}
.form-form {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  margin-top: 2rem;
}
.form-form input,
.form-form textarea {
  text-align: center;
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}
.form-form textarea {
  position: absolute;
  left: 35%;
}
.btn-form-contact {
  width: 5rem;
  margin: 15px auto;
  border-radius: 5px;
}
.btn-form-contact:hover {
  background-color: black !important;
  color: rgb(71, 244, 89) !important;
}

@media screen and (max-width: 1500px) {
  .contact-left {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .contact {
    flex-direction: row;
  }
  .contact-form {
    max-width: 80%;
    border-radius: 0;
    margin: 3rem auto;
  }
  .contact-right {
    width: 30%;
    margin: 0 2rem;
  }
  .contact-right h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  .contact-left {
    font-size: 16px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    font-size: 24px;
  }
  .contact-info p {
    margin: 10px;
    font-size: 14px;
  }
  .form-form {
    margin-right: 20%;
  }
  .form-form textarea {
    position: inherit;
  }
}

@media screen and (max-width: 780px) {
  .contact {
    flex-direction: column;
  }
  .marg {
    margin: 2rem auto;
  }
  .contact-left,
  .contact-right {
    width: 100%;
  }
  .contact-left h3 {
    font-size: 26px;
    top: 0;
    right: 0;
    margin: 2rem;
  }
  .contact-right {
    margin-top: 2rem;
    margin-left: 0;
  }
  .contact-right h3 {
    margin-bottom: 1.5rem;
  }
  .contact-info p {
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  .form-form {
    margin-bottom: 2.5rem;
  }
  .contact {
    width: 100%;
    overflow-x: hidden;
  }
  .contact-left {
    width: 100%;
    clip-path: none;
    padding: 3rem;
  }
  .contact-left h3 {
    margin: 2rem;
  }
  .contact-left p {
    max-width: 90%;
    margin: 0.5rem;
  }
  .contact-left p,
  .contact-left h3 {
    right: 0%;
  }
  .contact-right {
    padding: 3rem 0;
  }
  .form-form {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 379px) {
  .contact {
    margin: 0rem;
  }

  .contact-left {
    width: 100%;
  }

  .contact-left p {
    max-width: 70%;
    left: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .contact-left {
    width: 100%;
  }

  .contact-left p {
    max-width: 100%;
  }
  .contact-left h3 {
    margin: 1rem;
    max-width: 90%;
  }
  .contact-right {
    padding: 20px;
  }
  .contact-right h3 {
    margin-left: 20%;
  }
  .form-form {
    margin: 0;
  }
}
