.contact {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
}
.contact-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 60vh;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0% 100%, 0 54%, 0% 0%);
}
.contact-left p {
  position: relative;
  right: 5%;
  max-width: 70%;
}
.contact-left h3 {
  margin-top: 5rem;
  position: relative;
  bottom: 10%;
  right: 10%;
  font-size: 40px;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.contact-right h3 {
  position: relative;
  text-decoration: underline;
}

.contact-info {
  text-align: center;
  width: 100%;
}
.contact-info p{
  margin: 3rem 0;
}
.contact-icon {
  width: 30px;
  height: 30px;
  background-color: wheat;
  margin: 10px;
}
.form-form {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  margin-top: 2rem;
}
.form-form input, .form-form textarea {
  text-align: center;
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}
.form-form textarea {
  position: absolute;
  left: 35%;
}
.btn-form-contact {
  width: 5rem;
  margin: 15px auto;
  border-radius: 5px;
}
.btn-form-contact:hover {
  background-color: black !important;
  color: wheat !important;
}


@media screen and (max-width: 1500px) {
  .contact-left {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    right: 5%;
    font-size: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .contact {
    flex-direction: row;
  }
  .contact-form {
    max-width: 80%;
    border-radius: 0;
    margin: 3rem auto;
  }
  .contact-right {
    width: 30%;
    margin: 0 2rem;
  }
  .contact-right h3 {
    margin-bottom: 5rem;
  }
  .contact-left {
    font-size: 16px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    font-size: 24px;
    margin-top: 10%;
    right: 5%;
  }
  .contact-info p {
    margin: 10px;
    font-size: 14px;
  }
  .form-form {
    margin-right: 20%;
  }
  .form-form textarea {
    position: inherit;
  }
}

@media screen and (max-width: 780px) {
  .contact {
    flex-direction: column;
    min-height: 150vh;
  }
  .marg {
    margin: 2rem auto;
  }
  .contact-left, .contact-right {
    width: 100%;
  }
  .contact-left h3 {
    font-size: 26px;
    top: 0;
    margin: 3rem auto;
  }
  .contact-right {
    margin-top: 2rem;
    margin-left: 0;
  }
  .contact-info p{
    margin: 5px;
  }
}

@media screen and (max-width: 420px) {
  .form-form {
    margin-bottom: 2.5rem;
  }
  .contact {
    width: 100%;
    min-height: 165vh;
    overflow: hidden;
  }
  .contact-left {
    width: 100%;
    clip-path: none;
  }
  .contact-left h3 {
    margin: 2rem;
  }
  .contact-left p {
    max-width: 80%;
    margin: 0.5rem;
  }
  .contact-left p, .contact-left h3 {
    right: 0%
  }
  .contact-right {
    height: 50vh;
  }
}

@media screen and (max-width: 361px) {
  
}