nav {
  z-index: 15;
}
.container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 5rem;
  margin: 0 auto;
}
#navbarSupportedContent {
  max-width: 100%;
  position: fixed;
  right: 0;
  height: 6rem;
  width: 100vw;
  z-index: 15;
  transition: 1s ease;
}
.navbar-toggler {
  z-index: 16;
}
nav a.nav-links {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.35rem;
  z-index: 5;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-nav {
  z-index: 15;
}

.nav-item > a {
  padding-top: 0.65rem;
}

.nav-item > a:hover {
  border-top: 1px solid rgb(119, 119, 119);
}
ul {
  margin: 0 auto;
}
nav ul li {
  text-transform: uppercase;
  margin: 1rem 2rem;
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 420px) {
  .nav-item {
    margin-left: 30%;
  }
}

@media screen and (max-width: 361px) {
  
}