nav,
.navbar-nav {
  z-index: 15;
}
.logo {
  display: flex;
  flex-direction: row;
  width: 220px;
  height: 80px;
  position: fixed;
  left: 2rem;
  top: 1rem;
  z-index: 17;
}
.logo h5 {
  color: aliceblue;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
}

.logo-txt {
  margin: 5px;
  text-align: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed !important;
  left: 0;
  height: 6rem;
  width: 100vw;
  z-index: 15;
  transition: 1s ease;
}
#navbarSupportedContent {
  height: 100%;
}
.navbar-toggler {
  z-index: 16;
  margin: 0.5rem;
}
nav a.nav-links {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 2px;
  z-index: 5;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-item > a {
  padding-top: 0.25rem;
}
.nav-item > a:hover {
  color: antiquewhite;
  border-top: 1px solid rgb(59, 204, 73);
}
nav ul li {
  text-transform: uppercase;
  margin: 1rem 2rem;
}
@media screen and (max-width: 1500px) {
  nav ul li {
    margin: 0.5rem 1rem;
  }
}
@media screen and (max-width: 992px) {
  .logo {
    position: relative;
    top: -0.5rem;
    left: -45%;
    width: 100px;
    height: 40px;
  }
}
@media screen and (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  ul {
    align-items: center;
  }
}
@media screen and (max-width: 361px) {
}
