.services {
  height: min-content;
  width: 100%;
  margin-top: 2.5rem;
  text-align: center;
  z-index: 3;
}
a {
  text-decoration: none !important;
  text-transform: none;
}
.projects-h4 {
  margin: 0 auto;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 237, 224);
  width: 28%;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px -2px 15px 1px rgb(4, 4, 4);
  border: 1px solid wheat;
  margin: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.project article {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.project p, .project h5 {
  color: #1c3855;
  margin: 10px;
  margin-top: 1rem;
}
.projects-portfolio {
  width: 100%;
  transition: 15s ease;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60%;
  background-color: rgb(191, 192, 192);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}
.img-container video {
  height: 100%;
  background-color: black;
}
.img-container:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 1500px) {

}

@media screen and (max-width: 1199px) {
  .services {
    width: 100%;
    text-align: center;
    color: wheat;
  }
  .projects {
    height: fit-content;
  }
  .project {
    margin: 1rem;
    height: 250px;
  }
  .img-container {
    height: 50%;
  }
  .services h2 {
    margin: 5% auto 4% auto;
  }
  .carousel .slide .legend {
    font-size: 20px;
    opacity: 0.5;
  }
  .legend {
    font-size: 16px !important;
  }
  .bi {
    margin: 0;
  }
}

@media screen and (max-width: 780px) {
  .projects {
    flex-direction: column;
    width: 100%;
  }
  .project p, .project h5 {
    color: #1c3855;
    margin: 5px;
  }
  .project {
    margin: 1rem auto;
    width: 70%;
    height: 320px;
  }
  .img-container {
    height: 80%;
  }
}

@media screen and (max-width: 429px) {
  .services {
    width: 90%;
    margin-left: 5%;
  }
  .carousel-container {
    height: 20%;
  }
  .projects {
    flex-wrap: nowrap;
    justify-content: stretch;
    height: fit-content;
  }
  .project {
    width: 95%;
    height: 260px;
    margin: 1rem auto;
  }  
  .img-container {
    height: 60%;
  }
}

@media screen and (max-width: 379px) {
  .services {
    width: 90%;
  }
  .carousel-container {
    height: 20%;
  }
  .projects {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
  }
}
