.t-darkmode { 
  display: flex;
  flex-direction: row;
  width: 64px;
  height: 34px;
  background-color: wheat;
  border-radius: 20px;
  border: 1px solid black;
  position: fixed;
  top: 22px;
  right: 20px;
  z-index: 16;
}
.t-icon {
  width: 30px;
  height: 20px;
  margin: 5px;
}
.t-button {
  width: 30px;
  height: 28px;
  border-radius: 50%;
  background-color: #212529;
  position: absolute;
  top: 2px;
  margin-left: 1px;
  cursor: pointer;
  transition: 0.5s ease;
}