* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin: 4% auto 3% auto !important;
  z-index: 2;
}

.App {
  background-color: #222;
  overflow-x: hidden;
}

@media screen and (max-width: 1099px) {
  p,
  a,
  h1,
  h2,
  h5,
  h5 {
    font-size: smaller;
  }
  nav ul li {
    margin: 0.75rem;
  }
}

@media screen and (max-width: 781px) {
  p,
  a {
    font-size: smaller;
  }
}
@media screen and (max-width: 551px) {
  p {
    font-size: 14px;
    text-transform: none;
  }
  h2 {
    margin-top: 3rem !important;
  }
  h5 {
    font-size: 12px;
  }
}

@media screen and (max-width: 361px) {
  p,a {
    font-size: 10px;
  } 
}