* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin: 4% auto 3% auto !important;
  z-index: 2;
}

.App {
  background-color: #222;
}

/**************************NAVBAR*********************************/

nav {
  z-index: 5;
  border-bottom: 1px solid wheat;
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  height: 5rem;
  margin: 0 auto;
}

#navbarSupportedContent {
  max-width: 100%;
}

nav a.nav-links {
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.35rem;
  z-index: 5;
  margin: 0 auto;
  text-decoration: none;
}
.navbar-nav {
  z-index: 5;
}

.nav-item > a {
  border-top: 0.18rem solid #222;
  transition: 0.5s ease-in;
}

.nav-item > a:hover {
  border-top: 0.18rem solid rgb(8, 108, 165);
  color: whitesmoke;
}
ul {
  margin: 0 auto;
}
nav ul li {
  text-transform: uppercase;
  margin: 0 2rem;
  color: wheat;
}
/*************************PRESENTATION******************************/

.presentation {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(8, 8, 100) 35%, rgb(2, 72, 112) 100%);
    display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  color: wheat;
  text-align: center;
}
.presentation-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.name {
  font-family: 'Roboto Mono', monospace;
  font-size: 44px;
  color: blanchedalmond;
}
.presentation h1 {
  margin: 2%;
}
.hello {
  margin: 0;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
}
.title {
  margin: 10px;
  height: 40px;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}
.title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
.title-item {
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes move {
  50%{transform: translateY(-40px);}
  100%{transform: translateY(-80px);}
}

/**************************PARTICLES*********************************/

.tsparticles-canvas-el {
  position: absolute;
  top: 88%;
  height: 100%;
  width: 100vh;
  z-index: 1;
}

/**************************HEADER*********************************/

.header-wraper {
  display: flex;
  flex-shrink: 1;
  position: relative;
  background: url(./mainbackground2.jpg) no-repeat;
  background-size: 100%;
  background-position-y: 85%;
  height: 60vh;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid wheat;
  border-top: 1px solid wheat;
}

.main-info {
  display: flex;
  position: absolute;
  top: 110px;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}
.btn-contact {
  text-decoration: none;
}


/**************************TYPING*********************************/


.typed {
  height: 3rem;
  background-color: whitesmoke;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  padding-left: 10px;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  letter-spacing: 0.25rem;
}


/**************************Contact button*********************************/

.btn-contact {
  letter-spacing: 0.2rem;
  border: 2px solid black;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  margin-top: 2%;
  background-color: rgb(250, 240, 226);
  padding: 2vh;
  transition: ease-in-out;
  transition-duration: 0.25s;
  border-radius: 5px;
  opacity: 0.9;
}

.btn-contact:hover {
  letter-spacing: 0.3rem;
  background-color: #222;
  color: rgb(250, 240, 226);
}

/**************************ABOUT/RESUME*********************************/
.about {
  width: 300px;
  height: 300px;
  background: url(./profil.jpg) no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid wheat;
  margin-left: 10%;
  margin-bottom: 2.5%;
  z-index: 2;
}
.description {
  max-width: 60%;
  z-index: 5;
}
.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  width: 80%;
  font-size: 18px;
}
.container-about p {
  line-height: 30px;
  margin-left: 10%;
}

/**************************TIMELINE*********************************/

.box-timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.btn-readmore {
  background-color: grey;
  width: 80px;
  border: 0px;
  color: whitesmoke;
  border-radius: 5px;
}
.btn-readmore:hover {
  color: rgb(105, 105, 107);
}
.box-timeline a {
  color: wheat;
  font-size: 14px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px antiquewhite;
  max-height: 50%;
  max-width: 30%;
  color: wheat;
  border-radius: 15px;
  background: rgb(49, 49, 49);
  border: 1px solid black;
  margin: 0.75rem auto;
  padding-top: 0.75rem;
  z-index: 3;
}
.b1 {
  position: relative;
  right: 20%;
}
.b2 {
  position: relative;
  right: 10%;}
.b3 {
  position: relative;
  left: 10%;}
.b4 {
  position: relative;
  left: 20%;}

/**************************SERVICES*********************************/

.services {
  height: 175vh;
  width: 90%;
  margin: 2.5rem auto;
  text-align: center;
  z-index: 3;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 744px;
  height: 644px;
  margin: auto;
}
.carousel .slide .legend {
  font-size: 20px;
  opacity: 0.5;
}
.carousel.carousel-slider .control-arrow {
  width: 5rem;
  opacity: 0.9;
}
.carousel-img {
  border: 2px solid wheat;
}

.legend {
  font-size: 18px !important;
  font-weight: 400;
  letter-spacing: 0.20rem;
}

.projects-h4 {
  margin: 0 auto 2.5% auto;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 60vh;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 237, 224);
  width: 25%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 16px -16px 0px 1px grey;
  border: 1px solid wheat;
  margin: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}
.project article {
  width: 100%;
  height: 100%;
}
.project p, .project h5 {
  color: #1c3855;
  margin: 10px;
}
.projects-portfolio {
  width: 100%;
  transition: 10s ease;
}
.projects-portfolio:hover {
  transform: translateY(-75%)
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 65%;
  background-color: rgb(191, 192, 192);
  border-radius: 10px;
  overflow: hidden;
}

/**************************CONTACT FORM*********************************/
.contact {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  border-top: 1px solid black;
  background-color: black;

}
.contact-left {
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  min-width: 60vh;
  background-color: wheat;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0% 100%, 0 54%, 0% 0%);
}
.contact-left p {
  position: relative;
  right: 5%;
  max-width: 70%;
}
.contact-left h3 {
  margin-top: 5rem;
  position: relative;
  bottom: 10%;
  right: 10%;
  font-size: 40px;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: wheat;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.contact-right h3 {
  position: relative;
  text-decoration: underline;
}
.contact-right a {
  color: wheat;
}
.contact-info {
  text-align: center;
  width: 100%;
}
.contact-info p{
  margin: 3rem 0;
}
.contact-icon {
  width: 30px;
  height: 30px;
  background-color: wheat;
  margin: 10px;
}
.form-form {
  display: flex;
  flex-direction: column;
  margin-right: 30%;
  margin-top: 2rem;
}
.form-form input, .form-form textarea {
  background-color: wheat;
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}
.form-form textarea {
  position: absolute;
  left: 35%;
}
.btn-form-contact {
  background-color: wheat;
  width: 5rem;
  margin: 5px auto;
}
.btn-form-contact:hover {
  background-color: black;
  color: wheat;
}


/**************************FOOTER*********************************/

.footer-wraper {
  display: flex;
  flex-direction: row;
  background-color: #222;
  color: wheat;
  height: 250px;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
  border-top: 1px solid wheat;
}

.footer-left {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.footer-left div {
  width: 50%;
}
.footer-left svg {
  margin-left: 10%;
}
.footer-left a,  .footer-right a {
  text-decoration: none;
  color: wheat !important;
}

.footer-right {
  display: flex;
  align-items: center;
  text-align: center;
  width: 40%;
  padding: 2rem;
}
.footer-right, .footer-right a {
  flex-direction: column;
  padding: 0;
  margin: 6px;
  align-self: center;
}
.btn-footer {
  text-decoration: none;
}
.btn-footer:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1500px) {
  .header-wraper {
    display: flex;
    flex-shrink: 1;
    position: relative;
    background: url(./mainbackground2.jpg) no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    height: 60vh;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid wheat;
    border-top: 1px solid wheat;
  }
  .tsparticles-canvas-el {
    position: absolute;
    top: 88%;
    height: 10vh;
    width: 100vh;
    z-index: 1;
  }
  
  .main-info {
    display: flex;
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
  .about {
    margin: auto;
    width: 200px;
    height: 200px;
  }
  .btn-contact {
    margin-top: 2rem;
  }
  .box {
    max-width: 50%;
  }

  .contact-left {
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    right: 5%;
    font-size: 36px;
  }
  .footer-right {
    display: column;
  }
  .footer-center {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1099px) {
  p,
  a,
  h1,
  h2,
  h5,
  h5 {
    font-size: smaller;
  }
  nav ul li {
    margin: 0.75rem;
  }
  .typed {
    font-size: 20px;
  }
  .tsparticles-canvas-el {
    position: absolute;
    top: 88%;
  }
  .contact {
    flex-direction: column;
  }
  .contact-form {
    max-width: 80%;
    border-radius: 0;
    margin: 3rem auto;
  }

  .about {
    width: 150px;
    height: 150px;
  }
  .description {
    max-width: 90%;
  }
  .container-about {
    flex-direction: column;
    width: 90%;
  }
  .container-about p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-top: 4%;
  }
  
  .box-timeline p {
    padding: 10px 10px 0 10px;
    font-size: 16px;
    line-height: 20px;
  }
  .box-timeline a {
    font-size: 12px;
  }
  .box p {
    margin: 0;
  }
  .box {
    margin: 0.75rem auto;
    max-width: 50%;
    padding: 5px;
  }
  .b1 {
    position: relative;
    right: 0%;
  }
  .b2 {
    position: relative;
    right: 0%;}
  .b3 {
    position: relative;
    left: 0%;}
  .b4 {
    position: relative;
    left: 0%;
  }

  .services {
    height: 100%;
    width: 100%;
    margin: 2.5rem auto;
    text-align: center;
    color: wheat;
  }
  .projects {
    height: 80vh;
  }
  .project {
    margin: 1rem;
  }
  .services h2 {
    margin: 5% auto 4% auto;
  }
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .carousel .slide .legend {
    font-size: 20px;
    opacity: 0.5;
  }
  .legend {
    font-size: 16px !important;
  }

  .bi {
    margin: 0;
  }
  .contact {
    flex-direction: row;
  }
  .contact-right {
    width: 30%;
    margin: 0 2rem;
  }
  .contact-right h3 {
    margin-bottom: 5rem;
  }
  .contact-left {
    font-size: 16px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0 52%, 0% 0%);
  }
  .contact-left h3 {
    font-size: 24px;
    margin-top: 10%;
    right: 5%;
  }
  .contact-info p {
    margin: 10px;
    font-size: 14px;
  }
  .form-form {
    margin-right: 20%;
  }
  .form-form textarea {
    position: inherit;
  }

}

@media screen and (max-width: 781px) {
  p,
  a {
    font-size: smaller;
  }
  .header-wraper {
    background-position-y: 100%;
    height: 40vh;
  }
  .main-info {
    display: flex;
    position: absolute;
    bottom: 50%;
    right: 0;
    left: 0;
  }
  .tsparticles-canvas-el {
    position: absolute;
    top: 67%;
  }
  canvas {
    height: 130vh!important;
  }
  
  .box-timeline p {
    padding: 0;
    line-height: 20px;
  }
  .box {
    max-width: 85%;
  }
  
  .container-about {
    width: 95%;
  }
  .container-about p {
    font-size: 16px;
  }
  .projects {
    min-height: 260vh;
  }
  .project p, .project h5 {
    color: #1c3855;
    margin: 5px;
  }
  .project {
    width: 100%;
  }
  .contact {
    flex-direction: column;
    min-height: 150vh;
  }
  .marg {
    margin: 2rem auto;
  }
  .contact-left, .contact-right {
    width: 100%;
  }
  
  .contact-left h3 {
    font-size: 26px;
    top: 0;
    margin: 3rem auto;
  }
  .contact-right {
    margin-top: 2rem;
    margin-left: 0;
  }
  
  .contact-info p{
    margin: 5px;
  }
}
@media screen and (max-width: 551px) {
  p {
    font-size: 14px;
    text-transform: none;
  }
  h5 {
    font-size: 12px;
  }

  .typing input {
    text-align: center;
    font-weight: bolder;
    width: 120px;  font-family: "Open Sans", sans-serif;

    font-weight: 500;
    color: black;
  }
  .typing {
    font-size: smaller;
  }
  .header-wraper {
    height: 25vh;
    background-position-y: 80%;
  }
  .btn-contact {
    opacity: 0.8;
    padding: 2px;
    margin: 0;
  }
  .main-info {
    display: flex;
    position: absolute;
    top: -10%;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .tsparticles-canvas-el {
    position: absolute;
    top: 55%;
  }
 
  .box-timeline p {
    line-height: 20px;
  }
  .box {
    padding: 10px;
  }
  .services {
    max-height: 230vh;
    width: 90%;
  }
  .carousel-container {
    height: 20%;
  }
  .projects {
    max-height: 230vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .project {
    width: 95%;
    height: 250px;
    margin: 1rem auto;
  }
  .contact {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  .contact-left {
    width: 100%;
    clip-path: none;
  }
  .contact-left h3, .contact-left p {
    max-width: 60%;
  }
  .contact-left p, .contact-left h3 {
    right: 10%
  }
  .contact-right {
    margin: 3rem auto;
    min-height: 30vh;
  }
  .footer-wraper {
    font-size: smaller;
    height: 150px;
  }
  .footer-right {
    flex-direction: column;
  }
}

@media screen and (max-width: 361px) {
  p,a {
    font-size: 10px;
  } 
  .services {
    max-height: 285vh;
    width: 90%;
  }
  .carousel-container {
    height: 20%;
  }
  .projects {
    max-height: 230vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .contact {
    min-height: 120vh;
  }
}

@media screen and (min-width: 999px) {
  .footer-wraper {
    height: 250px;
  }
}

@media screen and (min-width: 1399px) {
  .footer-left p {
    padding-left: 10%;
  }  
}


